<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit File</title>
    <link rel="stylesheet" href="/add.css">
</head>
<body>
     <header>
        <nav>
            <a href="/">Home</a>
            <a href="/checkPassword">Edit</a>
            <a href="/about">About Us</a>
        </nav>
        <div class="hero">Welcome to Rajasthan</div>
    </header>
    <h1>Edit File Here</h1>
    <div id="editFileForm">
    
    </div>
    <footer>
        <a href="/contactUs">contac us</a>
    </footer>
    
    <script src="/add.js"></script>
    
</body>
</html>