<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="/card.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="">Guide</a>
            <a href="/about">About Us</a>
        </nav>
        <div class="hero" id="heroComponent"></div>

        <main id="mainComponent">   
        </main>




    </header>





    <script src="/card.js"></script>
</body>

</html>