<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="edit.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            
            <a href="/about">About Us</a>
        </nav>
        <div class="hero">Welcome to Rajasthan</div>
    </header>
    <h1>Go To Home</h1>
    <a href="/" class="redirectToHome">Home</a>
    
    <footer>
        <a href="">contac us</a>
    </footer>
    
    <script src="password.js"></script>
</body>

</html>