<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <link rel="stylesheet" href="/password.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/password">Password</a>
            <a href="/about">About Us</a>
        </nav>
        <div class="hero">Welcome to Rajasthan</div>
    </header>
    <h1>Enter Password to Edit</h1>
    <div id="editFileForm">
    
    </div>
    <footer>
        <a href="/contactUs">contac us</a>
    </footer>
    <script src="/password.js"></script>
    
</body>

</html>