<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="password.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/password">Password</a>
            <a href="/about">About Us</a>
        </nav>
        <div class="hero">Welcome to Rajasthan</div>
    </header>
    <h1>Enter Password to Edit</h1>
    <form action="/checkPassword" method="post">
        <label for="password">Enter Admin Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Submit"  class="submit">




    </form>
    <footer>
        <a href="">contac us</a>
    </footer>
    
    <script src="password.js"></script>
</body>

</html>